__pycache__
.pytest_cache
.vscode
.devcontainer
.ipynb_checkpoints
.idea
.hypothesis
.git*
navsim-envs/build
navsim-envs/dist
navsim-envs/navsim_envs.egg-info
navsim-lab/build
navsim-lab/dist
navsim-lab/navsim_lab.egg-info
navsim-mlagents/ml-agents-envs/mlagents_envs.egg-info
navsim-mlagents/gym-unity/gym_unity.egg-info
navsim-mlagents/.git*
navsim-mlagents/.yamato*
navsim-mlagents/colab
navsim-mlagents/docs
examples/env_log
archived-code
docs
*env_log*
*.pyc
*__pycache__*
*.pytest_cache
*.egg-info*
*.ipynb_checkpoints*
*.zip
*.md