.ipynb_checkpoints
.idea
__pycache__
.pytest_cache
navsim_test
/notebooks/.ipynb_checkpoints/
/notebooks/logs/
/notebooks/navsim_test/
/navsim.egg-info/
/notebooks/navsim_demo/
/build/
/dist/
/examples/navsim_demo/
*.sif
/examples/demo/
/examples/results/
/notebooks/navsim_demo.1/
/notebooks/
/sync
/docs/build/
/docs/navsim_html_docs.zip
