.ipynb_checkpoints
.idea
__pycache__
.pytest_cache
/notebooks/.ipynb_checkpoints/
/notebooks/logs/
/notebooks/navsim_test/
/navsim.egg-info/
/notebooks/navsim_demo/
/build/
/dist/
/examples/navsim_demo/
*.sif
/examples/demo/
/examples/results/
/notebooks/navsim_demo.1/
/notebooks/
/sync
/docs/build/
/docs/navsim_html_docs.zip
/examples/env_log*/
/navsim_envs/build/
/navsim/build/
/navsim/dist/
/navsim/navsim.egg-info/
/navsim_envs/dist/
/navsim_envs/navsim_envs.egg-info/
/examples/mcar_demo/
/navsim-envs/build/
/navsim-envs/dist/
/navsim-envs/navsim_envs.egg-info/
/.hypothesis/
/docs/source/navsim/
/docs/source/navsim-envs/
/docs/source/_static/
/docs/source/_templates/
/navsim-lab/build/
/navsim-lab/dist/
/navsim-lab/navsim.egg-info/
/.vscode/
/navsim-lab/navsim_lab.egg-info/
/archived-code/
*.zip
